* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*colors*/

:root {
  --background-white: rgb(2255, 255, 255);
  --background-grey-lightest: rgb(250, 250, 250);
  --background-grey-light: rgb(240, 240, 240);
  --background-grey-normal: rgb(220, 220, 220);
  --text-grey-light: rgb(180, 180, 180);
  --text-grey-normal: rgb(112, 112, 112);
  --text-grey-dark: rgb(51, 51, 51);
  --text-blue-light: rgb(81, 153, 239);
  --text-blue: rgb(38, 128, 235);
  --text-blue-dark: rgb(30, 102, 188);
  --text-green: rgb(13, 129, 54);
  --text-orange: rgb(251, 86, 7);
  --shadow-input: rgba(0, 0, 0, 0.16);
  --shadow-nav: rgba(0, 0, 0, 0.03);
  --light-shadow: rgba(226, 226, 226);
}

/*text*/

p,
a,
label,
span,
input,
li,
textarea,
select {
  font-size: 16px;
  font-weight: 400;
  font-family: SegoeUI;
  color: var(--text-grey-normal);
}

b span {
  font-weight: 700;
}

h1 {
  font-size: 30px;
  font-family: SegoeUI;
  font-weight: 100;
  color: var(--text-grey-dark);
}

h2 {
  font-family: SegoeUI;
  font-weight: 100;
  font-size: 20px;
  color: var(--text-grey-dark);
}

h3 {
  font-size: 16px;
  font-weight: 100;
  font-family: SegoeUI;
  color: var(--text-green);
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {

  p,
  a,
  label,
  span,
  input,
  li,
  textarea {
    font-size: 18px;
  }
}

/*list*/

ul {
  list-style: none;
}

ul li {
  padding-left: 60px;
  text-indent: -60px;
  padding-bottom: 16px;
}

ul li:last-child {
  padding-bottom: 0;
}

ul li::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 35px;
  background-image: url(/home/img/Laurel.svg);
  vertical-align: middle;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

/*article*/

article {
  width: 100%;
  margin-bottom: 40px;
}

article:last-of-type {
  margin-bottom: 0;
}

article:last-of-type.forceMargin {
  margin-bottom: 40px;
}

article h1,
article h2,
article p {
  padding-bottom: 17px;
}

article h3 {
  padding-bottom: 5px;
}

article ul {
  padding: 23px 0px 17px 0px;
}

article .button {
  margin: 23px 0px 17px 0px;
}

article h1:last-child,
article p:last-child,
article ul:last-child {
  padding-bottom: 0;
}

article .button:last-child {
  margin-bottom: 0;
}

/*misc*/

.icon {
  font-family: Icons;
}

.cms-icon {
  font-family: CMS-icons;
}

.hidden {
  display: none;
}

/*layout*/

header {
  display: grid;
  grid-template-columns: max-content max-content 1fr 1fr;
  width: calc(100% - 60px);
  float: right;
  height: 70px;
  background-color: var(--background-white);
  grid-gap: 40px;
  padding: 11px 40px;
  align-items: center;
}

header h1 {
  color: var(--text-green);
}

nav {
  display: grid;
  grid-gap: 70px;
  grid-template-rows: 70px 1fr max-content;
  width: 60px;
  height: 100vh;
  background-color: var(--text-blue);
  float: left;
  padding: 0px 11px 40px 11px;
}

nav .pages {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: min-content;
  margin-top: 20px;
}

nav .logo {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--text-blue-dark);
  margin: 0px -11px 0px -11px;
}

nav .logo img {
  width: 38px;
}

nav a.button.square {
  height: 38px;
  width: 38px;
  line-height: 38px;
}

nav a.button.transparent:hover {
  background-color: var(--text-blue-dark);
}

nav a.button.transparent.current {
  background-color: var(--text-blue-dark);
}

nav a span {
  font-size: 25px;
  color: var(--background-white);
}

.content-section {
  width: calc(100% - 60px);
  height: calc(100vh - 70px);
  float: right;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(250, 250, 250));
}

/*toolbar*/

.section-toolbar {
  display: grid;
  position: sticky;
  top: -40px;
  z-index: 20;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 40px;
  align-items: center;
  width: calc(100% + 80px);
  height: 50px;
  border-top: 1px solid var(--background-grey-normal);
  margin: -40px -40px 40px -40px;
  background-color: var(--background-grey-lightest);
  box-shadow: 0px 10px 20px var(--shadow-nav);
  padding: 0px 40px;
}

.section-toolbar .left {
  justify-self: start;
}

.section-toolbar .middle {
  justify-self: center;
}

.section-toolbar .right {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: flex-end;
}

/*action group*/

.action-group {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.2s;
}

.action-group.hidden {
  opacity: 0;
  pointer-events: none;
}

.action-group .button,
.action-group .button.square {
  border-radius: 0;
  border-right: 1px solid var(--background-grey-normal);
  width: 40px;
}

.action-group .button:last-child,
.action-group .button.square:last-child {
  border-right: none;
}

/*dialog*/

.dialog {
  position: absolute;
  z-index: 19;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 600px;
  padding: 40px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  transition: all 0.3s;
  transform: scale(1) translateY(0);
}

.dialog.hidden {
  display: block;
  transform: scale(0.8) translateY(calc(-100% - 70px));
}

.dialog .title {
  background-color: var(--background-grey-lightest);
  margin: -40px -20px 20px -20px;
  padding: 20px;
  border-bottom: 1px solid var(--background-grey-normal);
}

.dialog .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--background-grey-lightest);
  margin: 20px -20px -40px -20px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid var(--background-grey-normal);
}

.dialog .actions .button {
  margin-left: 20px;
}

/*item-list*/

.item-list {
  display: grid;
  grid-gap: 20px;
}

.item-list .item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background-color: white;
  padding: 10px 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px var(--shadow-input);
  transition: background-color 0.2s, height 0.2s, opacity 0.2s, padding 0.2s;
  grid-gap: 20px;
  overflow: hidden;
  cursor: pointer;
}

.item-list .item.hidden {
  height: 0;
  opacity: 0;
  margin-top: -20px;
  padding: 0 40px;
}

.item-list .item:hover {
  background-color: var(--background-grey-lightest);
}

.item-list .item .title {
  font-weight: bold;
}

/*list-item-types*/

.item-list .item.blog {
  grid-template-columns: max-content minmax(200px, 1fr) minmax(0, 200px) minmax(0, 200px);
}

/*button*/

.button {
  display: inline-block;
  padding: 2px 20px 4px 20px;
  background-color: var(--text-blue);
  color: var(--background-white);
  border-radius: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button.hidden {
  display: none;
}

.button.round,
.button.square {
  height: 34px;
  width: 34px;
  text-align: center;
  padding: 0;
  line-height: 32px;
}

.button.square {
  border-radius: 4px;
}

.button.round {
  border-radius: 50%;
}

.button.square .icon,
.button.round .icon {
  font-size: 28px;
  line-height: 38px;
}

.button.blue {
  background-color: var(--text-blue);
}

.button.blue:hover {
  background-color: var(--text-blue-dark);
}

.button.blue .chevron span {
  background-color: var(--background-white);
}

.button.blue span {
  color: var(--background-white);
}

.button.grey {
  background-color: var(--background-grey-light);
  color: var(--text-grey-normal);
}

.button.grey:hover {
  background-color: var(--background-grey-normal);
}

.button.transparent {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-grey-normal);
}

.button.transparent:hover {
  background-color: var(--background-grey-light);
  cursor: pointer;
}

.button.transparent.blue {
  color: var(--text-blue);
}

.button .chevron.left,
.button .chevron.right {
  margin-bottom: 2px;
}

.button .chevron.down {
  margin-bottom: 5px;
  margin-left: 10px;
}

.button .chevron.left {
  margin-left: 4px;
}

.button .chevron.right {
  margin-right: 4px;
}

@media only screen and (max-width: 640px) {
  .button {
    width: 100%;
    text-align: center;
    padding: 3px 20px 6px 20px;
    border-radius: 18px;
  }
}

/*button text input*/

.buttonTextInput {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-items: center;
  background-color: var(--background-grey-light);
  border: 1px solid var(--background-grey-normal);
  padding: 0px 20px;
  border-radius: 40px;
  transition: all 0.3s;
}

.buttonTextInput:focus-within {
  box-shadow: 0px 0px 15px var(--shadow-input);
  border: 1px solid var(--text-grey-light);
}

.buttonTextInput input[type="text"] {
  background: none;
  border: none;
  outline: none;
  max-width: 110px;
  margin-bottom: 0;
  padding: 3px 0px 6px 0px;
  transition: max-width 0.3s;
}

.buttonTextInput input[type="text"]:focus {
  max-width: 150px;
  box-shadow: none;
}

.buttonTextInput .icon {
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  width: 44px;
  margin-right: -20px;
  text-align: center;
  border-radius: 0px 18px 18px 0px;
  transition: all 0.3s;
  cursor: pointer;
}

.buttonTextInput .icon:hover {
  background-color: var(--text-blue);
  color: var(--background-white);
}

.buttonTextInput.larger input[type="text"] {
  max-width: 140px;
}

.buttonTextInput.larger input[type="text"]:focus {
  max-width: 200px;
  box-shadow: none;
}

/*switch*/

.switch {
  display: flex;
  align-items: center;
}

.switch .button {
  border-radius: 0;
}

.switch .button:first-child {
  border-radius: 4px 0 0 4px;
}

.switch .button:last-child {
  border-radius: 0 4px 4px 0;
}

.switch .button.selected {
  background-color: var(--text-blue);
  color: white;
}

.switch .button.selected:hover {
  background-color: var(--text-blue-dark);
  color: white;
}

/*hamburgerbutton*/

.hamburgerButton {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 35px;
  cursor: pointer;
}

.hamburgerButton span {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--text-grey-normal);
  height: 3px;
  width: 35px;
  border-radius: 2px;
  transition: all 0.3s;
}

.hamburgerButton span:first-of-type {
  top: 0;
}

.hamburgerButton span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.hamburgerButton span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburgerButton span:last-of-type {
  bottom: 0;
}

.hamburgerButton.clicked span:first-of-type {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.hamburgerButton.clicked span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 1;
}

.hamburgerButton.clicked span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburgerButton.clicked span:last-of-type {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .hamburgerButton {
    height: 25px;
    width: 30px;
  }

  .hamburgerButton span {
    width: 30px;
  }
}

/*chevron*/

.chevron {
  display: inline-block;
  position: relative;
  height: 8px;
  width: 16px;
}

.chevron span {
  position: absolute;
  background-color: var(--text-grey-normal);
  height: 2px;
  width: 10px;
  border-radius: 1px;
  transition: all 0.4s;
}

.chevron.left {
  transform: rotate(-90deg);
}

.chevron.right {
  transform: rotate(90deg);
}

.chevron.down {
  transform: rotate(180deg);
}

.chevron span:first-of-type {
  left: 0;
  transform: rotate(-45deg);
}

.chevron span:last-of-type {
  right: 0;
  transform: rotate(45deg);
}

/*cross*/

.cross {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.cross span {
  height: 2px;
  width: 27px;
  background-color: var(--text-grey-normal);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.cross span:first-of-type {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.cross span:last-of-type {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

/*input*/

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  padding: 3px 20px 6px 20px;
  background-color: var(--background-grey-light);
  border: 1px solid var(--background-grey-normal);
  border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}

input::placeholder,
input[type="email"]::placeholder,
input[type="password"],
textarea::placeholder {
  color: var(--text-grey-light);
}

textarea {
  min-height: 172px;
  resize: vertical;
}

select.placeHolder {
  color: var(--text-grey-light);
}

select option {
  color: var(--text-grey-normal);
}

/*checkbox*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: flex;
  align-items: center;
}

input[type="checkbox"]+label::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: var(--background-grey-light);
  border-radius: 10px;
  border: 1px solid var(--background-grey-normal);
  transition: all 0.2s;
  font-family: CMS-icons;
  font-size: 10px;
  margin-right: 10px;
}

input[type="checkbox"]:checked+label::before {
  background-color: var(--text-green);
  content: '\e906';
  color: white;
}

/*form*/

form {
  max-width: 672px;
}

form input,
form textarea,
form select {
  width: 100%;
  margin-bottom: 17px;
  outline: none;
  transition: box-shadow 0.3s;
}

form input:focus,
form textarea:focus,
form select:focus {
  box-shadow: 0px 0px 15px var(--shadow-input);
  border: 1px solid var(--text-grey-light);
}

form .button {
  margin-top: 27px;
}

form label {
  display: inline-block;
  padding: 0px 0px 10px 0px;
}

.formStatus {
  display: block;
  padding: 4px 20px 7px 20px;
  background-color: var(--text-blue);
  color: var(--background-white);
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 40px;
  width: 100%;
}

.formStatus.hidden {
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.formStatus.fail {
  background-color: var(--text-orange);
}

.formStatus.succes {
  background-color: var(--text-green);
}

/*font*/

@font-face {
  font-family: SegoeUI;
  font-weight: 400;
  src: url(/src/font/SegoeUI/Regular.woff);
}

@font-face {
  font-family: SegoeUI;
  font-weight: 100;
  src: url(/src/font/SegoeUI/Light.woff);
}

@font-face {
  font-family: Icons;
  src: url(/src/font/Icons.woff);
}

@font-face {
  font-family: CMS-icons;
  src: url(/src/font/CMS/CMS-icons.woff);
}