:root {
  --background-white: rgb(2255, 255, 255);
  --background-grey-lightest: rgb(250, 250, 250);
  --background-grey-light: rgb(240, 240, 240);
  --background-grey-normal: rgb(220, 220, 220);
  --text-grey-light: rgb(180, 180, 180);
  --text-grey-normal: rgb(112, 112, 112);
  --text-grey-dark: rgb(51, 51, 51);
  --blue-light: rgb(81, 153, 239);
  --blue: rgb(38, 128, 235);
  --blue-dark: rgb(30, 102, 188);
  --green: rgb(13, 129, 54);
  --orange: rgb(251, 86, 7);
  --shadow-input: rgba(0, 0, 0, 0.16);
  --shadow-nav: rgba(0, 0, 0, 0.03);
  --light-shadow: rgba(226, 226, 226);
  --marker-yellow: rgb(253,253,150);
}

.ce-block {
  margin-bottom: 17px;
}

.ce-block:first-child .ce-paragraph,
.ce-block:first-child .ce-paragraph a {
  font-weight: 700;
}

.cdx-block {
  padding: 0;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-paragraph,
.cdx-list__item,
h1.ce-header,
h2.ce-header,
h3.ce-header,
.ce-paragraph a {
  font-family: SegoeUI;
  font-weight: 400;
  font-size: 20px;
  color: var(--text-grey-normal);
  padding: 0;
  line-height: initial;
  margin-bottom: initial;
}

h1.ce-header,
h2.ce-header {
  font-weight: 100;
  color: var(--text-grey-dark);
}

h1.ce-header {
  font-size: 55px;
}

h2.ce-header {
  font-size: 40px;
}

h3.ce-header {
  font-weight: 400;
  font-size: 20px;
  color: var(--green);
}

.cdx-block.cdx-list {
  padding-left: 40px;
}

.cdx-block.ce-delimiter {
  line-height: initial;
  padding: 23px 0 13px 0;
}

.ce-delimiter:before {
  line-height: initial;
}

.ce-block mark {
  background-color: var(--marker-yellow);
  color: var(--text-grey-normal);
}

.cdx-input {
  font-family: SegoeUI;
  font-weight: 400;
  font-size: 16px;
  padding: 3px 20px 6px 20px;
  background-color: var(--background-grey-light);
  border: 1px solid var(--background-grey-normal);
  border-radius: 4px;
  box-shadow: none;
  color: var(--text-grey-normal);
  margin-bottom: 17px;
}

.cdx-input:last-child {
  margin-bottom: 0;
}

.cdx-block.inline-image {
  padding-bottom: 23px;
}

.cdx-settings-button[data-tune='withBorder'],
.cdx-settings-button[data-tune='stretched'],
.cdx-settings-button[data-tune='withBackground'] {
  display: none;
}

.inline-image__control-panel {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  margin: 20px 0;
  border-radius: 10px;
}

.inline-image__tab-wrapper {
  border: none;
  margin-bottom: 30px;
}

.inline-image__tab {
  font-family: SegoeUI;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-grey-normal);
  background-color: var(--background-grey-light);
  padding: 2px 20px 4px 20px;
}

.inline-image__tab.active {
  background-color: var(--blue);
  border: none;
  color: white;
}

.inline-image__tab:first-child {
  border-radius: 4px 0 0 4px;
}

.inline-image__tab:last-child {
  border-radius: 0 4px 4px 0;
}

.inline-image__search {
  margin: 10px 0 30px 0 ;
}

.inline-image__image-gallery {
  margin-left: -5px;
}

.inline-image .cdx-input.inline-image__embed-button {
  background-color: var(--blue);
  border: none;
  margin-top: 30px;
  color: white;
}

.inline-image__picture {
  margin-top: 40px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 20px var(--light-shadow));
}

.inline-image__image-credits, .inline-image__image-credits a {
  margin-top: 17px;
  color: var(--text-grey-light);
}

@font-face {
  font-family: SegoeUI;
  font-weight: 400;
  src: url(/src/font/SegoeUI/Regular.woff);
}

@font-face {
  font-family: SegoeUI;
  font-weight: 100;
  src: url(/src/font/SegoeUI/Light.woff);
}
